---
import Layout from '../components/Layout.astro';
---

<Layout title="Alyssa's 30th Party!" showHeader>
  <div class="invite">
    <img src="invite.png" alt="Alyssa's party invite">
  </div>
</Layout>

<style>
  .invite {
    margin: 5em;
  }
  
</style>