<header class="header">
  <h1>Alyssa's 30th Birthday Book Fair!</h1>
  <h2>3-7pm, Sunday, December 3rd, 2023 | Masks mandatory</h2>
  <div class="bttns">
    <a class="bttn primary" href="https://docs.google.com/forms/d/10qpvr6Qc3o9CeOatTgP6CiKm3hl3dcR9zAMYaYCw17g/edit?usp=drivesdk">RSVP here</a>
    <span>
      - or -
    </span>
    <a class="bttn secondary" href="/guest-book">Sign the guest book</a>
  </div>
</header>
<style>
  .header {
    background-image: linear-gradient(to bottom, var(--purple-medium), var(--purple-light));
    border-bottom: 0.5em double var(--yellow);
  }
    span {
    background-color: var(--yellow);
    color: var(--teal);
    border-radius: 100%;
    aspect-ratio: 1;
    padding: 1em;
    display: grid;
    place-content: center;
    font-weight: 900;
    text-transform: uppercase;
  }
</style>